INFLUXDB_TOKEN="abc123"
ORG="your-influx-org"
URL="https://influxdb.yourdomain.com"
BUCKET="your-bucket"
FMC_UID="your-cdo-fmc-uid"
CDO_TOKEN="xyz98765"
CDO_ENDPOINT="https://edge.us.cdo.cisco.com"
TIME_INTERVAL='5m'